<%- include("partials/header") -%>

<div>
  <h1>Compose</h1>
  <form action="/compose" method="post">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="titleInput" placeholder="">
      </div>
      <div class="form-group">
        <label>Post</label>
        <textarea name="postBody" class="form-control" rows="5" cols="30"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Publish</button>
    </form>
</div>

<%- include("partials/footer") -%>